<html>
  <head>
    <meta charset="UTF-8">
    <title>連絡帳</title> 
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>連絡帳</h1>
    <% if @message %>
      <p class="message"><%= @message %></p>
    <% end %>
    <p>時刻は<%= @now %></p>
    <div>
      <a href="/contact_new">連絡先の新規作成</a>
    </div>
    <table border="1">
      <caption>連絡先一覧</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.id %></td>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <footer>
      <a href="about.html">このサイトについて</a>
    </footer>
  </body>
</html>